body {
  margin: 0;
}

.main-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #126a67, #2a1e5b, #126a67);
  background-size: 400% 400%;
  mask: url(https://cdn.streamelements.com/uploads/c45581ae-4dae-4d6c-9bc0-09174d6caa52.png);
  animation: gradientScroll 20s ease infinite;
}

@-webkit-keyframes gradientScroll {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@-moz-keyframes gradientScroll {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes gradientScroll {
  0% {
    background-position: 100% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
