html,
body {
  transform: rotate(-0.5deg);
}

.quote {
  position: relative;
  width: 35vh;
  font-size: 20vh;
  color: #11a477;
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 8px;
}

.quote::before,
.quote::after {
  position: absolute;
  left: 0;
  top: 50%;
  width: 1.25em;
  font-family: "Font Awesome 5 Duotone";
  font-weight: 900;
  text-align: center;
  transform: translateY(-50%);
}

.quote::before {
  opacity: 1;
}

.quote::after {
  opacity: 0.5;
}

.emoticon {
  height: calc(2.5vh + 3.5vw);
  vertical-align: middle;
}

.left {
  align-self: flex-start;
  top: 0.7em;
}

.left::before {
  content: "\f10d" /* quote left */;
}

.left::after {
  content: "\10f10d" /* quote left */;
}

.right {
  align-self: flex-end;
  bottom: 0.7em;
}

.right::before {
  content: "\f10e" /* quote right */;
}

.right::after {
  content: "\10f10e" /* quote right */;
}

#quote_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#quote_div.visible {
  opacity: 1;
}

#quote_div .text {
  display: block;
  overflow: hidden;
  padding: 0.5rem;
  width: 0%;
  opacity: 0;
  flex: 0;
  font-family: "Iosevka Aile";
  font-weight: 500;
  text-align: center;
  color: #eaeaea;
  /* Instant transition, delayed so as to happen when the quote is invisible */
  transition: flex 0s 1s, opacity 0s 1s;
}

#quote_div.visible .text {
  opacity: 1;
  flex: 1;
  transition: flex 1s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.5s ease-in-out 1s;
}

#quote_div .text .main {
  display: block;
  margin: 0;
  height: 100%;
  font-size: calc(2.5vh + 3.5vw);
  line-height: calc(2.5vh + 4.5vw);
  text-transform: uppercase;
  text-shadow: rgba(0, 0, 0, 0.4) 2px 2px 16px, 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#quote_div .text .details {
  display: block;
  background-color: #11a477;
  padding-right: 0.5rem;
  text-align: right;
  font-size: calc(2.5vh + 1.5vw);
  line-height: calc(2.5vh + 2.5vw);
  text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 2px 2px 8px;
}
