* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

body {
  text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 5px;
  font-family: "Iosevka Aile";
  font-weight: 600;
  color: #e7f6f1;
}

#log {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px;
}

#log > div {
  animation: fadeIn 0.3s ease forwards, fadeOut 0.5s ease 99999999s forwards;
}

.sl__chat__message {
  border-top: transparent;
  margin: 0 0.5rem;
  padding: 0.2rem 0;
}

.sl__chat__message.sl__chat__message--new-nick:not(:first-child) {
  margin-top: 0.5rem;
}

.sl__chat__message.sl__chat__message--new-nick .meta {
  display: flex;
}
.sl__chat__message.sl__chat__message--emote .message {
  font-size: 2rem;
  line-height: 2.5rem;
}

.colon {
  display: none;
}

.deleted {
  visibility: hidden;
}

.emote {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0.4em 0.2em;
  position: relative;
}

.emote img {
  display: inline-block;
  position: relative;
  bottom: 0.05em;
  height: 1em;
  opacity: 0;
}

.meta {
  display: none;
  align-items: center;
  margin-bottom: 0.3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.name {
  border: 2px solid var(--nick-color);
  border-radius: 999em;
  padding: 0 0.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background: var(--nick-color);
}

.pronoun {
  margin-left: -2rem;
  border-radius: 999rem;
  border: 2px solid var(--nick-color);
  padding: 0 0.3rem 0 2.1rem;
  z-index: -1;
  font-weight: 400;
  font-size: 0.7rem;
  text-transform: lowercase;
}

.separator {
  flex: 1;
  border-top: 2px solid var(--nick-color);
  margin-right: 0.2rem;
}

.message {
  display: inline-block;
  margin-left: calc(0.4rem + 2px);
  word-wrap: break-word;
}

.badge {
  display: inline-block;
  margin-left: 0.2em;
  position: relative;
  bottom: 0.05em;
  height: 1em;
  vertical-align: middle;
}
