<!-- item will be appened to this layout -->
<div id="log" class="sl__chat__layout"></div>

<!-- chat item -->
<script type="text/template" id="chatlist_item">
  <div class="sl__chat__message" data-from="{from}" data-id="{messageId}">
    <span class="meta" style="color: {color}">
      <span class="name">{from}</span>
      <span class="badges"></span>
    </span>

    <span class="message">{message}</span>
  </div>
</script>
