* {
  font-family: 'Nunito SemiBold', sans-serif;
  color: [[fontColor]];
  text-shadow: {{textShadow}};
  font-size: {{fontSize}}px;
  overflow: hidden;
  margin: 0;
  font-weight: bold;
}

body {
  padding: 0 95px 0 220px;
  transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(0);
}

.layout {
  opacity: 0.9;
  position: absolute;
  left: 0;
  top: 0;
}

.main-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  height: 42px;
}

.label {
  text-align: center;
  text-transform: uppercase;
  color: #e7f6f1;
  font-weight: bolder;
  font-size: 0.7rem;
  line-height: 1.1em;
}

.event-container {
  position: relative;
  padding-left: 1.5rem;
  flex: 0 0 auto;
}

.details-container {
  position: relative;
  bottom: 1px;
  margin-left: 0.3rem;
  border-radius: 50rem;
  padding: 0rem 0.2rem;
  background: rgba(0,0,0,0.4);
  color: white;
  font-size: 0.8rem;
}

.username-container {
  text-transform: lowercase;
}

.event-image::before,
.event-image::after {
  font-family: 'Font Awesome 5 Duotone';
  font-weight: 900;

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1.25em;
  text-align: center;
}

.event-image::before {
  opacity: 1;
}

.event-image::after {
  opacity: 0.5;
}

.event-seat {
   color: #e10770;
}

.event-seat::before {
  content: "\f4cc"; /* loveseat */
}

.event-seat::after {
  content: "\10f4cc"; /* loveseat */
}

.event-follower, .event-follower ~ .details-container {
    color: #e10770;
}

.event-follower::before {
    content: "\10f004"; /* heart */
}

.event-follower::after {
    content: "\f004"; /* heart */
}

.event-cheer, .event-cheer ~ .details-container {
    color: #1eafed;
}

.event-cheer::before {
    content: "\f3a5"; /* gem */
}

.event-cheer::after {
    content: "\10f3a5"; /* gem */
}

.event-host, .event-host ~ .details-container {
    color: #00bd56;
}

.event-host::before {
    content: "\f8dd"; /* signal-stream */
}

.event-host::after {
    content: "\10f8dd"; /* signal-stream */
}

.event-raid, .event-raid ~ .details-container {
    color: #00bd56;
}

.event-raid::before {
    content: "\f78c"; /* compress-arrows-alt */
}

.event-raid::after {
    content: "\10f78c"; /* compress-arrows-alt */
}

.event-sub, .event-sub ~ .details-container {
    color: #ffe277;
}

.event-sub::before {
    content: "\10f005"; /* star */
}

.event-sub::after {
    content: "\f005"; /* star */
}

.event-redemption, .event-redemption ~ .details-container {
    color: #ffe277;
}

.event-redemption::before {
    content: "\f005"; /* star */
}

.event-redemption::after {
    content: "\10f005"; /* star */
}

.event-tip, .event-tip ~ .details-container {
    color: #1eafed;
}

.event-tip::before {
    content: "\f51e"; /* coins */
}

.event-tip::after {
    content: "\10f51e"; /* coins */
}
