<img
  class="layout"
  src="https://cdn.streamelements.com/uploads/103b9b95-f454-4987-8105-ec3c04509931.png"
/>
<div class="main-container">
  <span id="seat-user-label" class="label">Sur le<br />fauteuil</span>
  <span class="seat-user"></span>
  <span id="last-cheer-label" class="label">Dernier<br />cheer</span>
  <span class="last-cheer"></span>
  <span id="last-sub-label" class="label">Dernier<br />sub</span>
  <span class="last-sub"></span>
</div>
